/*Screen*/

div #screen-content {
  background-image: url(./images/screen.jpg);
  width:575px;
  height:459px;
  background-repeat:no-repeat;
  position:relative;
  margin:0 auto;
}
div.screen-grid {
  height:290px;
  width:520px;
  position:absolute;
  top:29px;
  left:26px;
}
div.screen-grid div {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  float:left;
}
div.screen-grid div:hover {
  background-color:rgba(255, 255, 255, 0.75);
}
div.screen-grid div.leftTop {
  width:30%;
  height:33%;
}
div.screen-grid div.midTop {
  width:40%;
  height:33%;
}
div.screen-grid div.rightTop {
  width:30%;
  height:33%;
}

div.screen-grid div.leftMid {
  width:30%;
  height:33%;
}
div.screen-grid div.midMid {
  width:40%;
  height:33%;
}
div.screen-grid div.rightMid {
  width:30%;
  height:33%;
}

div.screen-grid div.leftBot {
  width:30%;
  height:33%;
}
div.screen-grid div.midBot {
  width:40%;
  height:33%;
}
div.screen-grid div.rightBot {
  width:30%;
  height:33%;
}
