.top {
  top: 5px;
}

.bottom{
  bottom: 5px;
}

.left{
  left: 5px;
}

.right{
  right: 5px;
}

.area {
  position:absolute;
}

.plugin-panel{
  margin: 0px;
}

.absolute{
  position:absolute;
}

main{

  //Todo: Need to fix
  height: -webkit-calc(100% - 64px - 23px);
  height:    -moz-calc(100% - 64px - 23px);
  height:         calc(100% - 64px - 23px);

  position: relative;
}

body, html{
  height: 100%;
  width:100%;
  overflow-x: hidden;
}
