@import "colors"

backgroundColor = #f8f8f8
backgroundColorAcent = white
backgroundColorBorder = #e7e7e7


watching = md-red-600
watchingText = white

poll = md-blue-600
pollText = white

subscribe = md-green-600
subscribeText = white

donation = md-orange-800
donationText = white
