/* CSS declarations go here */
.fixed {
  position:fixed;
}

.displayer{
  bottom: 270px;
  left: 30px;
  width: 350px;
}
#cam{
  bottom: 25px;
  left: 30px;
  width: 350px;
  height: 250px;
}

iframe{
  top: 25px;
  left: 960px;
  margin: 0px;
  padding: 0px;
  border: none;
  height: 150px;
  width:  500pxx;
}
