/* CSS declarations go here */
.fixed {
  position:fixed;
}

.displayer{

  margin-bottom: 0px;
  width: 350px;
  -webkit-transform: translate3d(0,0,0);
}
#cam{
  margin-top: -1px;
  width: 350px;
  height: 250px;
  -webkit-transform: translate3d(0,0,0);
}
#camarea {
  bottom: 5px;
  left: 5px;
}
iframe{
  top: 5px;
  left: 960px;
  margin: 0px;
  padding: 0px;
  border: none;
  height: 150px;
  width:  500pxx;
}
