<template name="accessDenied">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-danger" style="margin-top:15px;">
          <div class="panel-heading">
            <h3 class="panel-title">
              Access Denied!
            </h3>
          </div>
          <div class="panel-body">
            You should not acceess this page.
          </div>
          <div class="panel-footer">
            Redirecting in 5 sec...
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
